.questionTitle {
    text-align: center;
    font-size: 2.2rem;
    margin: 6px 0;
}

.questionOption {
    margin: 0 0 6px;
    position: relative;
}

.questionOption input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.questionOption input[type="radio"]:checked ~ label:before {
    border: 8px solid #3498db;
    background: #ffffff;
}


.questionOption label {
    font-size: 1.6rem;
    color: #525252;
}

.questionOption label:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #fafafa;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 6px 0 0;
    border: 1px solid #d7d8db;
}