.button{
    display: inline-block;
    border-radius: 3px;
    padding: 0 12px;
    line-height: 3.2rem;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


.blue {
    background: #3498db;
}

.blue:hover {
    background: #2980b9;
}

.grey {
    background: #95a5a6;
}

.grey:hover {
    background: #7f8c8d;
}