.header{
    display: block;
    line-height: 5.2rem;
    background: #3498db;
    margin: 0 0 32px;
}

.header a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.82);
}