.loader {
    display: block;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
    margin: 12px auto;
}

.loaderContainer {
    margin: 24px auto;
    text-align: center;
}

.loaderText {
    font-size: 1.8rem;
    color: #95a5a6;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}