*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size:62.5%;
}

body {
    background: #edeef0;
    font-family: sans-serif;
    margin: 0;
    font-size: 1.4rem;
    color: #212121;
}

h1 {
    color: #2c3e50;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: normal;
    font-size: 3.2rem;
    margin: 12px 0;
}

h2 {
    color: #95a5a6;
    font-weight: normal;
    font-size: 2rem;
    margin: 8px 0;
}